!!!
%html
  %head
    %title
      -if content_for? :title
        =yield(:title)
      -else
        Scamsearch
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', :defer => "defer"
    = csrf_meta_tags

  %body
    #layout
      / Menu toggle
      %a#menuLink.menu-link{:href => "#menu"}
        / Hamburger icon
        %span
      #menu
        .pure-menu.pure-menu-open
          %a.pure-menu-heading{:href => authenticated_root_path}Website name
          %ul
            %li{class: request.path == ("/admin/employees" || "/") ? "pure-menu-selected" : nil}
              =link_to "List employees", admin_employees_path
            %li{class: request.path == "/admin/employees/new" ? "pure-menu-selected" : nil}
              %a{:href => new_admin_employee_path} Submit employee
            %li
              %a{:href => "#"} Pending validation
            %li{class: request.path == "/admin/users" ? "pure-menu-selected" : nil}
              %a{:href => admin_users_path} Users
            %li
              =link_to "Logout", destroy_user_session_path, method: :delete
      #main
        .header
          %h1= yield :page_title if content_for? :page_title
          %h2= yield :page_subtitle if content_for? :page_subtitle
        .content
          = yield

  #footer
   